<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header style="background-color:darkred">Header</header>
    <h1>
        @RenderBody()
    </h1>
    <footer style="background-color:seagreen">Footer</footer>
</body>
</html>
