
@{
    ViewData["Title"] = "Contact";
    //  Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;

    //Conditional Layout
    if(User.IsInRole("Admin"))
    {
        Layout = "_Layout";
    }
    else
    {
        Layout = "_Layout2";
    }
}

<h1>Contact</h1>

